//----------------------------------------------_Обнуление-----------------------------------------------
@use "sass:math";
@import "null-style.scss";
//----------------------------------------------_Шрифты----------------------------------------------
//@import "fonts.scss";
//----------------------------------------------_Переменные-----------------------------------------
$maxWidth: 1920;
$maxWidthContainer: 1200;
$darkGrey: #243238;
$lightGrey: #7a7f85;
$blue: #4169e1;
$lightBlue: #9bb3fb;
//----------------------------------------------_Шаблоны------------------------------------------
@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $pxTwo) * 100%;
	@return $result;
}
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
@function em($px) {
	$result: math.div($px, 16) + em;
	@return $result;
}
//----------------------------------------------_Миксины----------------------------------------------
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $starSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

//----------------------------------------------_Настройки-------------------------------------------
body {
	height: 100%;
	&._lock {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: Inter;
	background-color: #f8f8ff;
}
main {
	flex: 1 1 auto;
}
.container {
	width: min(100% - 1rem, 1200px);
	margin-inline: auto;
}

//----------------------------------------------Header----------------------------------------------
.header {
	position: relative;
	z-index: 10;
	&__body {
		padding: 20px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	&__logo {
		img {
			max-width: 140px;
			transform: translateY(-5px);
		}
		a:hover {
			cursor: pointer;
		}
	}

	&__menu {
	}

	&__buttons {
	}
}
.menu {
	display: flex;
	&__icon {
		display: none;
		@media (max-width: 767px) {
			& {
				display: block;
				width: 50px;
				height: 50px;
				position: relative;
				z-index: 2;
				&::before,
				&::after,
				& span {
					height: 4px;
					position: absolute;
					left: 50%;
					transform: translate(-50%, 0);
					background-color: $darkGrey;
					border-radius: 3px;
					transition: all 0.3s ease 0s;
					width: 100%;
				}
				&::before,
				&::after {
					content: "";
				}
				&::before {
					top: 10px;
				}
				&::after {
					bottom: 10px;
					width: 70%;
					transform: translate(-30%, 0);
				}
				& span {
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&._active {
				background-color: $blue;
				&::before {
					top: 50%;
					width: 50%;
					transform: translate(-50%, 0) rotate(45deg);
					background-color: #fff;
				}
				&::after {
					width: 50px;
					height: 43px;
					border-radius: 6px;
					border: 1px solid #fff;
					background: none;
					top: 50%;
					transform: translate(-50%, -50%);
				}
				& span {
					width: 50%;
					transform: translate(-50%, 0) rotate(-45deg);
					background-color: #fff;
				}
			}
		}
	}

	&__body {
		@media (max-width: 767px) {
			& {
				position: fixed;
				width: 50%;
				height: 100vh;
				left: 100%;
				top: 0;
				padding: 150px 15px 10px 15px;
				transition: left 0.3s ease 0s;
				overflow: auto;
				background-color: $blue;
				-webkit-backdrop-filter: blur(2px);
				backdrop-filter: blur(5px);
				border-radius: 6px 0px 0px 6px;
			}
			&._active {
				left: 50%;
				z-index: 1;
				text-align: center;
			}
		}
	}
	&__list {
		@media (min-width: 767px) {
			& {
				display: flex;
				align-items: center;
				@include adaptiv-value("gap", 8, 8, 1);
			}
		}
		@media (max-width: 767px) {
			& li:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}

	&__link {
		padding: 10px;
		color: #0b0c0d;
		font-weight: 500;
		transition: all 0.3s ease 0s;
		white-space: nowrap;
		&.active {
			color: $blue;
		}
		&:hover {
			color: $blue;
		}
		&:hover svg {
			fill: $blue;
			@media (max-width: 767px) {
				& {
					fill: #fff;
				}
			}
		}
		.arrow {
			display: inline-block;
			transform: rotate(90deg) translateX(2px);
			transition: all 0.3s ease 0s;
			&.rotated {
				transform: rotate(-90deg) translateX(-1px);
			}
		}
		@media (max-width: 767px) {
			& {
				display: block;
				color: #fff;
				@include adaptiv-value("font-size", 26, 12, 1);
				width: 100%;
				border: 1px solid $lightBlue;
				border-radius: 10px;
				margin-bottom: 25px;
				&:hover {
					color: #fff;
				}
				&.active {
					color: #fff;
				}
				svg {
					fill: #fff;
				}
			}
		}
	}

	&__item-with-submenu {
		position: relative;
		@media (min-width: 768px) {
			& {
				&:hover {
					.submenu {
						display: block;
					}
					.arrow {
						transform: rotate(-90deg) translateX(-1px);
					}
				}
			}
		}
	}
	.submenu {
		display: none;
		align-items: center;
		justify-content: center;
		gap: 5px;
		position: absolute;
		top: 100%;
		min-width: 100px;
		left: 0;
		padding: 10px;
		border-radius: 15px;
		z-index: 5;
		@media (min-width: 768px) {
			& {
				background-color: #fff;
				box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05),
					17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01),
					49px 24px 15px 0px rgba(0, 22, 86, 0);
				text-align: left;
				&:hover {
					display: block;
				}
			}
		}
		@media (max-width: 767px) {
			& {
				position: static;
				flex-direction: column;
				border: 1px solid transparent;
				padding: 0px 20px 20px;
			}
		}
		&.active {
			display: flex;
		}
		&__link {
			padding: 12px;
			@include adaptiv-value("font-size", 16, 12, 1);
			color: #0b0c0d;
			font-weight: 500;
			transition: all 0.3s ease 0s;
			white-space: nowrap;
			display: inline-block;
			&:hover {
				color: $blue;
			}
			@media (max-width: 767px) {
				& {
					color: #fff;
					padding: 6px;
				}
			}
		}
	}
}
.buttons-header {
	display: flex;
	gap: 5px;
	&__tel {
		svg {
			margin-right: 5px;
			margin-top: 1px;
		}
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			font-size: 16px;
			letter-spacing: 0.32px;
			color: $blue;
			padding: 16px 16px;
			font-weight: 600;
			transition: all 0.3s ease 0s;
			&:hover {
				background-color: #e8ebf5;
			}
			@media (max-width: 767px) {
				& {
					color: #fff;
					@include adaptiv-value("font-size", 18, 12, 1);
					white-space: nowrap;
					padding-left: 16px;
				}
				& svg {
					min-width: 15px;
					fill: #fff;
					@include adaptiv-value("font-size", 16, 16, 1);
				}
			}
		}
	}

	&__btn {
		a {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			font-size: 16px;
			letter-spacing: 0.32px;
			background-color: $blue;
			color: #fff;
			padding: 16px 24px;
			font-weight: 600;
			border: 1px solid transparent;
			transition: all 0.3s ease 0s;
			&:hover {
				color: $blue;
				background-color: #fff;
				border: 1px solid $blue;
			}
			@media (max-width: 767px) {
				& {
					color: #fff;
					@include adaptiv-value("font-size", 22, 16, 1);
					border: 1px solid $lightBlue;
				}
			}
		}
	}
	@media (max-width: 1050px) {
		& {
			display: none;
		}
	}
	@media (max-width: 767px) {
		& {
			display: block;
			margin-top: 90px;
		}
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*--------------------------------------------HOME---------------------------------------------*/
.blue-button {
	a {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		font-size: 16px;
		letter-spacing: 0.32px;
		background-color: $blue;
		color: #fff;
		padding: 16px 24px;
		font-weight: 600;
		border: 1px solid transparent;
		transition: all 0.3s ease 0s;
		&:hover {
			color: $blue;
			background-color: #fff;
			border: 1px solid $blue;
		}
	}
}
.white-button {
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		font-size: 16px;
		letter-spacing: 0.32px;
		color: $blue;
		padding: 16px 24px;
		font-weight: 600;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #e8ebf5;
		}
	}
}
.plus-icon {
	position: absolute;
	top: 0px;
	right: 5px;
	animation: rotate 3s ease 3s infinite;
	transform-origin: 50% 55%;
}
.home {
	overflow-x: hidden;
	overflow-y: auto;
	&__body {
		min-height: 100vh;
		position: relative;
		z-index: 3;
		&::before,
		&::after {
			content: "";
			display: block;
			position: absolute;
			background-color: $lightBlue;
			border-radius: 50%;
			z-index: 0;
		}
		&::before {
			bottom: -80px;
			left: -100px;
			width: 300px;
			height: 300px;
			filter: blur(60px);
			opacity: 0.8;
			@media (max-width: 600px) {
				& {
					width: 100px;
					height: 100px;
				}
			}
		}
		&::after {
			top: 10%;
			right: -300px;
			width: 400px;
			height: 600px;
			filter: blur(60px);
			opacity: 0.5;
			@media (max-width: 600px) {
				& {
					right: -100px;
					width: 200px;
					height: 300px;
					opacity: 0.2;
				}
			}
		}
	}
}

.home {
	&__body {
		padding: 40px 0;
		display: flex;
		@media (max-width: 800px) {
			& {
				flex-direction: column;
				padding: 100px 0 40px 0;
			}
		}
	}

	&__text {
		flex: 0 1 50%;
		@include adaptiv-value("padding-left", 20, 10, 1);
		@include adaptiv-value("padding-right", 20, 10, 1);
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: -50px;
	}

	&__title {
		@include adaptiv-value("font-size", 50, 22, 1);
		color: $darkGrey;
		margin-bottom: 50px;
		line-height: 120%;
		letter-spacing: -1.22px;
		font-weight: 700;
		font-style: normal;
	}

	&__subtitle {
		@include adaptiv-value("font-size", 18, 12, 1);
		color: $lightBlue;
		margin-bottom: 15px;
		@media (max-width: 600px) {
			& {
				margin-bottom: 25px;
			}
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 20px;
		.white-button {
			a {
				border: 1px solid $blue;
				border-radius: 10px;
			}
			a:hover {
				background-color: $blue;
				color: #fff;
			}
		}
		@media (max-width: 600px) {
			& {
				justify-content: center;
			}
		}
	}

	&__image {
		flex: 0 1 50%;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		img {
			max-width: 90%;
			object-fit: contain;
		}
		@media (max-width: 800px) {
			& {
				margin-top: 50px;
				img {
					max-width: 100%;
				}
			}
		}
	}
}
.image-info {
	position: absolute;
	bottom: 0;
	@include adaptiv-value("top", 100, 50, 1);
	left: 0;
	&__block {
		border-radius: 20px;
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
		backdrop-filter: blur(25px);
		@include adaptiv-value("padding", 24, 8, 1);
		display: flex;
		align-items: center;
		gap: 4px;
		p {
			font-size: 16px;
			display: flex;
			align-items: center;
		}
		span {
			display: inline-block;
			margin-right: 7px;
			color: $blue;
			@include adaptiv-value("font-size", 24, 18, 1);
		}
	}
	&__block:first-child {
		margin-bottom: 20px;
	}
	@media (max-width: 800px) {
		& {
			@include adaptiv-value("left", 40, 0, 1);
			@include adaptiv-value("top", 60, 30, 1);
		}
	}
}

/*-----------------------------------------homeinfo------------------------------------------------*/
.homeinfo {
	padding: 40px 0;
	background-color: transparent;
	position: relative;
	z-index: 2;
	&__body {
		display: flex;
		justify-content: space-between;
		gap: 70px;
		padding-left: 50px;
		background-color: transparent;
		@media (max-width: 900px) {
			& {
				flex-direction: column;
				gap: 20px;
			}
		}
		@media (max-width: 600px) {
			& {
				padding-left: 0px;
			}
		}
	}

	&__block {
		flex: 0 1 30%;
		position: relative;
		z-index: 2;
		background-color: $lightBlue;
		color: #fff;
		border-radius: 20px;
		padding: 33px 24px 34px 60px;
		@media (max-width: 900px) {
			& {
				flex: 1 1 auto;
			}
		}
		@media (max-width: 600px) {
			& {
				padding-left: 80px;
			}
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
		backdrop-filter: blur(25px);
		display: inline-flex;
		padding: 30px;
		border-left: 1px solid $lightBlue;
		@media (max-width: 600px) {
			& {
				padding: 20px;
				transform: translate(0%, -50%);
				img {
					width: 30px;
				}
			}
		}
	}

	&__title {
		h3 {
			font-weight: 500;
			font-style: normal;
			@include adaptiv-value("font-size", 21, 18, 1);
			line-height: 130%;
			margin-bottom: 4px;
		}
	}

	&__text {
		p {
			@include adaptiv-value("font-size", 16, 14, 1);
			font-weight: 400;
			font-style: normal;
			line-height: 150%;
			letter-spacing: 0.32px;
		}
	}
}

/*--------------------------------------------ABOUT---------------------------------------------*/
.about {
	padding: 100px 0;
	@media (max-width: 650px) {
		& {
			padding: 40px 0;
		}
	}
	&__body {
		display: flex;
		align-items: center;
		position: relative;
		@media (max-width: 920px) {
			& {
				flex-direction: column;
			}
		}
	}

	&__info {
		flex: 0 1 50%;
		padding: 7px;
		@media (max-width: 920px) {
			& {
				margin-bottom: 60px;
			}
		}
	}

	&__text {
	}

	&__title {
		margin-bottom: 4px;
	}
	&__subtitle {
		margin-bottom: 16px;
		h5 {
			font-weight: 500;
			font-style: normal;
			@include adaptiv-value("font-size", 47, 26, 1);
			line-height: 125%;
			letter-spacing: -0.47px;
		}
	}

	&__div {
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 400;
		font-style: normal;
		line-height: 150%;
		letter-spacing: 0.32px;
		color: #7a7f85;
		margin-bottom: 32px;
	}

	&__cards {
		display: flex;
		padding-right: 10px;
	}

	&__card {
		flex: 0 1 50%;
		padding: 24px;
		box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05),
			17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01),
			49px 24px 15px 0px rgba(0, 22, 86, 0) !important;
		border-radius: 30px;
		@media (max-width: 600px) {
			& {
				padding: 10px 15px;
			}
		}
	}

	&__card-title {
		font-weight: 500;
		font-style: normal;
		@include adaptiv-value("font-size", 27, 17, 1);
		line-height: 120%;
		letter-spacing: -0.27px;
		margin-bottom: 16px;
	}

	&__card-text {
		@include adaptiv-value("font-size", 16, 13, 1);
		font-weight: 400;
		font-style: normal;
		line-height: 150%;
		letter-spacing: 0.32px;
		color: #7a7f85;
	}

	&__image {
		flex: 0 1 50%;
		img {
			max-width: 100%;
			border-radius: 30px;
		}
	}
}
.more-btn {
	position: absolute;
	top: 100%;
	left: 10px;
	margin-top: 20px;
	@media (max-width: 600px) {
		& {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.title {
	h4 {
		font-weight: 500;
		font-size: 18px;
		line-height: 150%;
		letter-spacing: 0.32px;
		color: $blue;
	}
}
/*--------------------------------------------SErvice---------------------------------------------*/
.services {
	padding: 100px 0;
	background-color: #f8f8ff;
	@media (max-width: 650px) {
		& {
			padding: 100px 0px 40px 0px;
		}
	}
	&__body {
	}

	&__title {
		margin-bottom: 15px;
	}

	&__subtitle {
		margin-bottom: 32px;
		color: $darkGrey;
		font-weight: 500;
		font-style: normal;
		@include adaptiv-value("font-size", 47, 26, 1);
		line-height: 125%;
		letter-spacing: -0.47px;
	}

	&__blocks {
		display: flex;
		justify-content: space-between;
		@media (max-width: 900px) {
			& {
				flex-direction: column;
				gap: 30px;
			}
		}
	}

	&__block {
		flex: 0 1 30%;
		position: relative;
	}
}
.block-service {
	box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05),
		17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01),
		49px 24px 15px 0px rgba(0, 22, 86, 0);
	border-radius: 150px 30px 30px 30px;
	&__info {
		border-radius: 150px 30px 0px 0px;
		background: #e4ebff;
		position: relative;
		padding: 0px 26px 48px 0px;
		@media (max-width: 600px) {
			& {
				padding: 0px 10px 10px 0px;
			}
		}
	}

	&__icon {
		padding: 26px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
		backdrop-filter: blur(15px);
		display: inline-flex;
		margin-bottom: 15px;
		@media (max-width: 600px) {
			& {
				padding: 15px;
				img {
					width: 38px;
				}
			}
		}
	}

	&__title {
		margin-bottom: 16px;
		padding-left: 26px;
		h6 {
			@include adaptiv-value("font-size", 27, 18, 1);
			line-height: 120%;
			letter-spacing: -0.27px;
			font-weight: 500;
		}
	}

	&__text {
		padding-left: 26px;
		color: #7a7f85;
		@include adaptiv-value("font-size", 16, 14, 1);
		font-weight: 400;
		font-style: normal;
		line-height: 150%;
		letter-spacing: 0.32px;
	}

	&__buttons {
		display: flex;
		background-color: #fff;
		padding: 15px 24px;
		justify-content: center;
		align-items: center;
		border-radius: 0px 0px 30px 30px;
		.blue-button {
			flex: 0 1 60%;
			@media (max-width: 767px) {
				& {
					a {
						padding: 7px 14px;
					}
				}
			}
		}
		.white-button {
			flex: 0 1 40%;
			a {
				@include adaptiv-value("font-size", 14, 12, 1);
				white-space: nowrap;
			}
		}
	}
}

/*--------------------------------------------TEAM---------------------------------------------*/
.team {
	padding: 100px 0;
	@media (max-width: 650px) {
		& {
			padding: 20px 0;
		}
	}
	&__body {
	}

	&__title {
		margin-bottom: 4px;
	}

	&__subtitle {
		margin-bottom: 30px;
		p {
			font-weight: 500;
			font-style: normal;
			@include adaptiv-value("font-size", 47, 26, 1);
			line-height: 125%;
			letter-spacing: -0.47px;
			max-width: 600px;
		}
	}

	&__blocks {
		display: flex;
		justify-content: space-evenly;
		gap: 25px;
		@media (max-width: 650px) {
			& {
				flex-wrap: wrap;
			}
		}
	}

	&__block {
		flex: 0 1 20%;
		@media (max-width: 650px) {
			& {
				flex: 0 1 45%;
			}
		}
	}

	&__button {
		text-align: center;
		margin-top: 30px;
		a {
			display: inline-block;
		}
	}
}
.block-team {
	&__photo {
		margin-bottom: 25px;
		img {
			max-width: 100%;
		}
	}

	&__name {
		text-align: center;
		font-weight: 500;
		font-style: normal;
		@include adaptiv-value("font-size", 27, 17, 1);
		line-height: 120%;
		letter-spacing: -0.27px;
		margin-bottom: 5px;
	}

	&__profession {
		text-align: center;
		font-size: 16px;
		letter-spacing: 0.32px;
		color: #7a7f85;
	}
}

/*--------------------------------------------HOME CONTACT---------------------------------------------*/
.telephone {
	position: relative;
	overflow: hidden;
	&::after {
		content: "";
		display: block;
		position: absolute;
		background-color: $lightBlue;
		border-radius: 50%;
		z-index: 0;
		top: 15%;
		right: -300px;
		width: 400px;
		height: 300px;
		filter: blur(60px);
		opacity: 0.5;
		@media (max-width: 650px) {
			& {
				right: -100px;
				width: 200px;
				height: 300px;
				opacity: 0.2;
			}
		}
	}
	&__body {
		background: url(../images/home/cont-banner.png) top left / contain no-repeat;
		height: 100%;
		@media (max-width: 767px) {
			& {
				background: url(../images/home/cont-banner.png) 80% 50% / cover no-repeat;
			}
		}
		@media (max-width: 650px) {
			& {
				border-radius: 30px;
			}
		}
	}

	&__info {
		padding: 100px 48px;
		max-width: 60%;
		@media (max-width: 650px) {
			& {
				padding: 70px 20px 50px;
			}
			svg {
				width: 16px;
				height: 16px;
			}
		}
	}

	&__title {
		font-weight: 500;
		font-style: normal;
		@include adaptiv-value("font-size", 47, 16, 1);
		line-height: 125%;
		letter-spacing: -0.47px;
		color: #fff;
		margin-bottom: 7px;
	}

	&__link {
		margin-bottom: 8px;
		a {
			font-weight: 500;
			font-style: normal;
			@include adaptiv-value("font-size", 47, 16, 1);
			line-height: 125%;
			letter-spacing: -0.47px;
			color: $blue;
			white-space: nowrap;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__text {
		font-weight: 500;
		font-style: normal;
		@include adaptiv-value("font-size", 21, 15, 1);
		line-height: 130%;
		margin-bottom: 30px;
		color: #fff;
	}

	&__button {
		a {
			display: inline-block;
		}
	}
}

/*--------------------------------------------NEWS---------------------------------------------*/
.news {
	padding: 80px 0;
	position: relative;
	&::after {
		content: "";
		display: block;
		position: absolute;
		background-color: $lightBlue;
		border-radius: 50%;
		z-index: 0;
	}
	&::after {
		bottom: 0;
		left: 0;
		width: 250px;
		height: 250px;
		filter: blur(40px);
		opacity: 0.5;
	}
	&__body {
	}

	&__title {
		margin-bottom: 7px;
	}

	&__subtitle {
		font-weight: 500;
		font-style: normal;
		@include adaptiv-value("font-size", 47, 26, 1);
		line-height: 125%;
		letter-spacing: -0.47px;
		margin-bottom: 15px;
	}

	&__blocks {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		@media (max-width: 767px) {
			& {
				flex-wrap: wrap;
			}
		}
	}

	&__block {
		flex: 0 1 30%;
		max-width: 50%;
		@media (max-width: 767px) {
			& {
				flex: 0 1 47%;
			}
		}
		@media (max-width: 500px) {
			& {
				margin-bottom: 70px;
			}
		}
	}
	&__button-more {
		position: absolute;
		bottom: 0;
		left: 50%;
		z-index: 2;
		transform: translateX(-50%);
	}
}
.block-news {
	border-radius: 30px;
	position: relative;
	z-index: 1;
	&__image {
		img {
			max-width: 100%;
			border-radius: 30px;
		}
	}
	&__date {
		display: inline-block;
		padding: 8px 16px;
		position: absolute;
		top: 16px;
		left: 16px;
		border-radius: 15px;
		background: rgba(255, 255, 255, 0.5);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
		backdrop-filter: blur(25px);
		font-weight: 700;
		@media (max-width: 767px) {
			& {
				top: 7px;
				left: 7px;
				padding: 4px 8px;
				font-size: 12px;
			}
		}
	}
	&__info {
		position: absolute;
		bottom: -5px;
		background: #fff;
		border-radius: 30px;
		box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05),
			17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01),
			49px 24px 15px 0px rgba(0, 22, 86, 0);
		width: 100%;
		@include adaptiv-value("padding", 24, 10, 1);
		@media (max-width: 500px) {
			& {
				bottom: -50px;
			}
		}
	}

	&__title {
		font-weight: 500;
		font-style: normal;
		@include adaptiv-value("font-size", 21, 13, 1);
		line-height: 130%;
		@include adaptiv-value("margin-bottom", 30, 5, 1);
	}

	&__more {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 500px) {
			& {
				flex-direction: column;
			}
		}
	}

	&__author {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		gap: 5px;
		img {
			width: 32px;
			height: 32px;
			border-radius: 50%;
		}
		span {
			@include adaptiv-value("font-size", 16, 12, 1);
		}
	}

	&__button {
		flex: 0 1 30%;
		@media (max-width: 650px) {
			& {
				a {
					padding: 7px 10px;
				}
			}
		}
	}
}

/*--------------------------------------------FOOTER---------------------------------------------*/
footer {
	margin-top: 150px;
	background-color: #dbe4fc;
	overflow: hidden;
	@media (max-width: 650px) {
		& {
			margin-top: 70px;
		}
	}
	a:hover {
		text-decoration: underline;
	}
}
.footer-main {
	padding: 30px 0;
	&__body {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 50px;
		@media (max-width: 600px) {
			& {
				flex-direction: column;
			}
		}
	}

	&__menu {
		@media (max-width: 600px) {
			& {
				width: 90%;
				margin: 0 auto;
			}
		}
	}

	&__logo {
	}

	&__title {
		margin-bottom: 25px;
	}

	&__list {
		max-width: 500px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		li:not(:last-child) {
			margin-bottom: 0px;
		}
	}

	&__link {
		color: $darkGrey;
	}

	&__address {
		@media (max-width: 600px) {
			& {
				width: 90%;
				margin: 0 auto;
			}
		}
		p {
			margin-bottom: 15px;
			img {
				margin-right: 10px;
			}
		}
		a {
			color: $darkGrey;
		}
	}
}

.footer-bottom {
	padding: 15px 0;
	background-color: $blue;
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		color: #fff;
		@include adaptiv-value("font-size", 16, 12, 1);
		@media (max-width: 600px) {
			& {
				flex-direction: column;
			}
		}
		& > * {
			flex: 0 1 33.3%;
		}
	}
	&__logo {
		@media (max-width: 767px) {
			& {
				display: none;
			}
		}
	}
}
