* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  height: 100%;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  background-color: #f8f8ff;
}

main {
  flex: 1 1 auto;
}

.container {
  width: min(100% - 1rem, 1200px);
  margin-inline: auto;
}

.header {
  position: relative;
  z-index: 10;
}
.header__body {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header__logo img {
  max-width: 140px;
  transform: translateY(-5px);
}
.header__logo a:hover {
  cursor: pointer;
}
.menu {
  display: flex;
}
.menu__icon {
  display: none;
}
@media (max-width: 767px) {
  .menu__icon {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 2;
  }
  .menu__icon::before, .menu__icon::after, .menu__icon span {
    height: 4px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #243238;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    width: 100%;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 10px;
  }
  .menu__icon::after {
    bottom: 10px;
    width: 70%;
    transform: translate(-30%, 0);
  }
  .menu__icon span {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .menu__icon._active {
    background-color: #4169e1;
  }
  .menu__icon._active::before {
    top: 50%;
    width: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    background-color: #fff;
  }
  .menu__icon._active::after {
    width: 50px;
    height: 43px;
    border-radius: 6px;
    border: 1px solid #fff;
    background: none;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .menu__icon._active span {
    width: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
    background-color: #fff;
  }
}
@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 50%;
    height: 100vh;
    left: 100%;
    top: 0;
    padding: 150px 15px 10px 15px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    background-color: #4169e1;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);
    border-radius: 6px 0px 0px 6px;
  }
  .menu__body._active {
    left: 50%;
    z-index: 1;
    text-align: center;
  }
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .menu__list {
    gap: calc(8px + 0 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .menu__list li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.menu__link {
  padding: 10px;
  color: #0b0c0d;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.menu__link.active {
  color: #4169e1;
}
.menu__link:hover {
  color: #4169e1;
}
.menu__link:hover svg {
  fill: #4169e1;
}
@media (max-width: 767px) {
  .menu__link:hover svg {
    fill: #fff;
  }
}
.menu__link .arrow {
  display: inline-block;
  transform: rotate(90deg) translateX(2px);
  transition: all 0.3s ease 0s;
}
.menu__link .arrow.rotated {
  transform: rotate(-90deg) translateX(-1px);
}
@media (max-width: 767px) {
  .menu__link {
    display: block;
    color: #fff;
    font-size: 26px;
    width: 100%;
    border: 1px solid #9bb3fb;
    border-radius: 10px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .menu__link {
    font-size: calc(12px + 14 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .menu__link:hover {
    color: #fff;
  }
}
@media (max-width: 767px) {
  .menu__link.active {
    color: #fff;
  }
}
@media (max-width: 767px) {
  .menu__link svg {
    fill: #fff;
  }
}
.menu__item-with-submenu {
  position: relative;
}
@media (min-width: 768px) {
  .menu__item-with-submenu:hover .submenu {
    display: block;
  }
  .menu__item-with-submenu:hover .arrow {
    transform: rotate(-90deg) translateX(-1px);
  }
}
.menu .submenu {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 100%;
  min-width: 100px;
  left: 0;
  padding: 10px;
  border-radius: 15px;
  z-index: 5;
}
@media (min-width: 768px) {
  .menu .submenu {
    background-color: #fff;
    box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0);
    text-align: left;
  }
  .menu .submenu:hover {
    display: block;
  }
}
@media (max-width: 767px) {
  .menu .submenu {
    position: static;
    flex-direction: column;
    border: 1px solid transparent;
    padding: 0px 20px 20px;
  }
}
.menu .submenu.active {
  display: flex;
}
.menu .submenu__link {
  padding: 12px;
  font-size: 16px;
  color: #0b0c0d;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  display: inline-block;
}
@media (max-width: 1200px) {
  .menu .submenu__link {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}
.menu .submenu__link:hover {
  color: #4169e1;
}
@media (max-width: 767px) {
  .menu .submenu__link {
    color: #fff;
    padding: 6px;
  }
}

.buttons-header {
  display: flex;
  gap: 5px;
}
.buttons-header__tel svg {
  margin-right: 5px;
  margin-top: 1px;
}
.buttons-header__tel a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #4169e1;
  padding: 16px 16px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.buttons-header__tel a:hover {
  background-color: #e8ebf5;
}
@media (max-width: 767px) {
  .buttons-header__tel a {
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    padding-left: 16px;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .buttons-header__tel a {
    font-size: calc(12px + 6 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .buttons-header__tel a svg {
    min-width: 15px;
    fill: #fff;
    font-size: 16px;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .buttons-header__tel a svg {
    font-size: calc(16px + 0 * ((100vw - 320px) / 880));
  }
}
.buttons-header__btn a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.32px;
  background-color: #4169e1;
  color: #fff;
  padding: 16px 24px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
}
.buttons-header__btn a:hover {
  color: #4169e1;
  background-color: #fff;
  border: 1px solid #4169e1;
}
@media (max-width: 767px) {
  .buttons-header__btn a {
    color: #fff;
    font-size: 22px;
    border: 1px solid #9bb3fb;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .buttons-header__btn a {
    font-size: calc(16px + 6 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1050px) {
  .buttons-header {
    display: none;
  }
}
@media (max-width: 767px) {
  .buttons-header {
    display: block;
    margin-top: 90px;
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------HOME---------------------------------------------*/
.blue-button a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.32px;
  background-color: #4169e1;
  color: #fff;
  padding: 16px 24px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
}
.blue-button a:hover {
  color: #4169e1;
  background-color: #fff;
  border: 1px solid #4169e1;
}

.white-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #4169e1;
  padding: 16px 24px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.white-button a:hover {
  background-color: #e8ebf5;
}

.plus-icon {
  position: absolute;
  top: 0px;
  right: 5px;
  -webkit-animation: rotate 3s ease 3s infinite;
          animation: rotate 3s ease 3s infinite;
  transform-origin: 50% 55%;
}

.home {
  overflow-x: hidden;
  overflow-y: auto;
}
.home__body {
  min-height: 100vh;
  position: relative;
  z-index: 3;
}
.home__body::before, .home__body::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #9bb3fb;
  border-radius: 50%;
  z-index: 0;
}
.home__body::before {
  bottom: -80px;
  left: -100px;
  width: 300px;
  height: 300px;
  filter: blur(60px);
  opacity: 0.8;
}
.home__body::after {
  top: 10%;
  right: -300px;
  width: 400px;
  height: 600px;
  filter: blur(60px);
  opacity: 0.5;
}

.home__body {
  padding: 40px 0;
  display: flex;
}
@media (max-width: 800px) {
  .home__body {
    flex-direction: column;
    padding: 100px 0 40px 0;
  }
}
.home__text {
  flex: 0 1 50%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px;
}
@media (max-width: 1200px) {
  .home__text {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .home__text {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
.home__title {
  font-size: 50px;
  color: #243238;
  margin-bottom: 50px;
  line-height: 120%;
  letter-spacing: -1.22px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 1200px) {
  .home__title {
    font-size: calc(22px + 28 * ((100vw - 320px) / 880));
  }
}
.home__subtitle {
  font-size: 18px;
  color: #9bb3fb;
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .home__subtitle {
    font-size: calc(12px + 6 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 600px) {
  .home__subtitle {
    margin-bottom: 25px;
  }
}
.home__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home__buttons .white-button a {
  border: 1px solid #4169e1;
  border-radius: 10px;
}
.home__buttons .white-button a:hover {
  background-color: #4169e1;
  color: #fff;
}
@media (max-width: 600px) {
  .home__buttons {
    justify-content: center;
  }
}
.home__image {
  flex: 0 1 50%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.home__image img {
  max-width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 800px) {
  .home__image {
    margin-top: 50px;
  }
  .home__image img {
    max-width: 100%;
  }
}

.image-info {
  position: absolute;
  bottom: 0;
  top: 100px;
  left: 0;
}
@media (max-width: 1200px) {
  .image-info {
    top: calc(50px + 50 * ((100vw - 320px) / 880));
  }
}
.image-info__block {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 1200px) {
  .image-info__block {
    padding: calc(8px + 16 * ((100vw - 320px) / 880));
  }
}
.image-info__block p {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.image-info__block span {
  display: inline-block;
  margin-right: 7px;
  color: #4169e1;
  font-size: 24px;
}
@media (max-width: 1200px) {
  .image-info__block span {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}
.image-info__block:first-child {
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .image-info {
    left: 40px;
    top: 60px;
  }
}
@media (max-width: 800px) and (max-width: 1200px) {
  .image-info {
    left: calc(0px + 40 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 800px) and (max-width: 1200px) {
  .image-info {
    top: calc(30px + 30 * ((100vw - 320px) / 880));
  }
}

/*-----------------------------------------homeinfo------------------------------------------------*/
.homeinfo {
  padding: 40px 0;
  background-color: transparent;
  position: relative;
  z-index: 2;
}
.homeinfo__body {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding-left: 50px;
  background-color: transparent;
}
@media (max-width: 900px) {
  .homeinfo__body {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .homeinfo__body {
    padding-left: 0px;
  }
}
.homeinfo__block {
  flex: 0 1 30%;
  position: relative;
  z-index: 2;
  background-color: #9bb3fb;
  color: #fff;
  border-radius: 20px;
  padding: 33px 24px 34px 60px;
}
@media (max-width: 900px) {
  .homeinfo__block {
    flex: 1 1 auto;
  }
}
@media (max-width: 600px) {
  .homeinfo__block {
    padding-left: 80px;
  }
}
.homeinfo__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  display: inline-flex;
  padding: 30px;
  border-left: 1px solid #9bb3fb;
}
@media (max-width: 600px) {
  .homeinfo__icon {
    padding: 20px;
    transform: translate(0%, -50%);
  }
  .homeinfo__icon img {
    width: 30px;
  }
}
.homeinfo__title h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 4px;
}
@media (max-width: 1200px) {
  .homeinfo__title h3 {
    font-size: calc(18px + 3 * ((100vw - 320px) / 880));
  }
}
.homeinfo__text p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
}
@media (max-width: 1200px) {
  .homeinfo__text p {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}

/*--------------------------------------------ABOUT---------------------------------------------*/
.about {
  padding: 100px 0;
}
.about__body {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 920px) {
  .about__body {
    flex-direction: column;
  }
}
.about__info {
  flex: 0 1 50%;
  padding: 7px;
}
@media (max-width: 920px) {
  .about__info {
    margin-bottom: 60px;
  }
}
.about__title {
  margin-bottom: 4px;
}
.about__subtitle {
  margin-bottom: 16px;
}
.about__subtitle h5 {
  font-weight: 500;
  font-style: normal;
  font-size: 47px;
  line-height: 125%;
  letter-spacing: -0.47px;
}
@media (max-width: 1200px) {
  .about__subtitle h5 {
    font-size: calc(26px + 21 * ((100vw - 320px) / 880));
  }
}
.about__div {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: #7a7f85;
  margin-bottom: 32px;
}
@media (max-width: 1200px) {
  .about__div {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}
.about__cards {
  display: flex;
  padding-right: 10px;
}
.about__card {
  flex: 0 1 50%;
  padding: 24px;
  box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0) !important;
  border-radius: 30px;
}
.about__card-title {
  font-weight: 500;
  font-style: normal;
  font-size: 27px;
  line-height: 120%;
  letter-spacing: -0.27px;
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  .about__card-title {
    font-size: calc(17px + 10 * ((100vw - 320px) / 880));
  }
}
.about__card-text {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: #7a7f85;
}
@media (max-width: 1200px) {
  .about__card-text {
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
  }
}
.about__image {
  flex: 0 1 50%;
}
.about__image img {
  max-width: 100%;
  border-radius: 30px;
}

.more-btn {
  position: absolute;
  top: 100%;
  left: 10px;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .more-btn {
    left: 50%;
    transform: translateX(-50%);
  }
}

.title h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: #4169e1;
}

/*--------------------------------------------SErvice---------------------------------------------*/
.services {
  padding: 100px 0;
  background-color: #f8f8ff;
}
.services__title {
  margin-bottom: 15px;
}
.services__subtitle {
  margin-bottom: 32px;
  color: #243238;
  font-weight: 500;
  font-style: normal;
  font-size: 47px;
  line-height: 125%;
  letter-spacing: -0.47px;
}
@media (max-width: 1200px) {
  .services__subtitle {
    font-size: calc(26px + 21 * ((100vw - 320px) / 880));
  }
}
.services__blocks {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .services__blocks {
    flex-direction: column;
    gap: 30px;
  }
}
.services__block {
  flex: 0 1 30%;
  position: relative;
}

.block-service {
  box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0);
  border-radius: 150px 30px 30px 30px;
}
.block-service__info {
  border-radius: 150px 30px 0px 0px;
  background: #e4ebff;
  position: relative;
  padding: 0px 26px 48px 0px;
}
.block-service__icon {
  padding: 26px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: inline-flex;
  margin-bottom: 15px;
}
.block-service__title {
  margin-bottom: 16px;
  padding-left: 26px;
}
.block-service__title h6 {
  font-size: 27px;
  line-height: 120%;
  letter-spacing: -0.27px;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .block-service__title h6 {
    font-size: calc(18px + 9 * ((100vw - 320px) / 880));
  }
}
.block-service__text {
  padding-left: 26px;
  color: #7a7f85;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
}
@media (max-width: 1200px) {
  .block-service__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}
.block-service__buttons {
  display: flex;
  background-color: #fff;
  padding: 15px 24px;
  justify-content: center;
  border-radius: 0px 0px 30px 30px;
}
.block-service__buttons .blue-button {
  flex: 0 1 60%;
}
.block-service__buttons .white-button {
  flex: 0 1 40%;
}
.block-service__buttons .white-button a {
  font-size: 14px;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .block-service__buttons .white-button a {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}