@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Inter;
  background-color: #f8f8ff;
}

main {
  flex: 1 1 auto;
  position: relative;
  padding-top: 50px;
}

.container {
  width: min(100% - 1rem, 1200px);
  margin-inline: auto;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: #9bb3fb;
  overflow: hidden;
}
.preloader::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #9bb3fb;
  -webkit-animation: preloaderHide 7s ease 0s;
          animation: preloaderHide 7s ease 0s;
}
.preloader svg {
  width: 200px;
}

@-webkit-keyframes preloaderHide {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

@keyframes preloaderHide {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 100;
  opacity: 0.8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.header {
  position: relative;
  z-index: 10;
}
.header__body {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header__logo img {
  max-width: 140px;
  transform: translateY(-5px);
}
.header__logo a:hover {
  cursor: pointer;
}
.menu {
  display: flex;
}
.menu__icon {
  display: none;
  will-change: transform;
}
@media (max-width: 767px) {
  .menu__icon {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 2;
  }
  .menu__icon::before, .menu__icon::after, .menu__icon span {
    height: 4px;
    position: absolute;
    left: 0;
    background-color: #243238;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    width: 100%;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 10px;
  }
  .menu__icon::after {
    bottom: 10px;
  }
  .menu__icon span {
    top: 23px;
  }
  .menu__icon._active {
    background-color: #4169e1;
    border: 1px solid #fff;
    border-radius: 6px;
  }
  .menu__icon._active::before {
    top: 23px;
    transform: rotate(45deg);
    background-color: #fff;
  }
  .menu__icon._active::after {
    top: 23px;
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .menu__icon._active span {
    display: none;
  }
}
@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 50%;
    height: 100vh;
    left: 100%;
    top: 0;
    padding: 150px 15px 10px 15px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    background-color: #4169e1;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);
    border-radius: 6px 0px 0px 6px;
  }
  .menu__body._active {
    left: 50%;
    z-index: 1;
    text-align: center;
  }
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .menu__list {
    gap: calc(8px + 0 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .menu__list li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.menu__link {
  padding: 10px;
  color: #0b0c0d;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.menu__link.active {
  color: #4169e1;
}
.menu__link:hover {
  color: #4169e1;
}
.menu__link:hover svg {
  fill: #4169e1;
}
@media (max-width: 767px) {
  .menu__link:hover svg {
    fill: #fff;
  }
}
.menu__link .arrow {
  display: inline-block;
  transform: rotate(90deg) translateX(2px);
  transition: all 0.3s ease 0s;
}
.menu__link .arrow.rotated {
  transform: rotate(-90deg) translateX(-1px);
}
@media (max-width: 767px) {
  .menu__link {
    display: block;
    color: #fff;
    font-size: 26px;
    width: 100%;
    border: 1px solid #9bb3fb;
    border-radius: 10px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .menu__link {
    font-size: calc(12px + 14 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .menu__link:hover {
    color: #fff;
  }
}
@media (max-width: 767px) {
  .menu__link.active {
    color: #fff;
  }
}
@media (max-width: 767px) {
  .menu__link svg {
    fill: #fff;
  }
}
.menu__item-with-submenu {
  position: relative;
}
@media (min-width: 768px) {
  .menu__item-with-submenu:hover .submenu {
    display: block;
  }
  .menu__item-with-submenu:hover .arrow {
    transform: rotate(-90deg) translateX(-1px);
  }
}
.menu .submenu {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 100%;
  min-width: 100px;
  left: 0;
  padding: 10px;
  border-radius: 15px;
  z-index: 5;
}
@media (min-width: 768px) {
  .menu .submenu {
    background-color: #fff;
    box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0);
    text-align: left;
  }
  .menu .submenu:hover {
    display: block;
  }
}
@media (max-width: 767px) {
  .menu .submenu {
    position: static;
    flex-direction: column;
    border: 1px solid transparent;
    padding: 0px 20px 20px;
  }
}
.menu .submenu.active {
  display: flex;
}
.menu .submenu__link {
  padding: 12px;
  font-size: 16px;
  color: #0b0c0d;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  display: inline-block;
}
@media (max-width: 1200px) {
  .menu .submenu__link {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}
.menu .submenu__link:hover {
  color: #4169e1;
}
@media (max-width: 767px) {
  .menu .submenu__link {
    color: #fff;
    padding: 6px;
  }
}

.buttons-header {
  display: flex;
  gap: 5px;
  will-change: transform;
}
.buttons-header__tel svg {
  margin-right: 5px;
  margin-top: 1px;
}
.buttons-header__tel a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #4169e1;
  padding: 16px 16px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.buttons-header__tel a:hover {
  background-color: #e8ebf5;
}
@media (max-width: 767px) {
  .buttons-header__tel a {
    color: #fff;
    font-size: 18px;
    white-space: nowrap;
    padding-left: 16px;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .buttons-header__tel a {
    font-size: calc(12px + 6 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .buttons-header__tel a svg {
    min-width: 15px;
    fill: #fff;
    font-size: 16px;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .buttons-header__tel a svg {
    font-size: calc(16px + 0 * ((100vw - 320px) / 880));
  }
}
.buttons-header__btn a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.32px;
  background-color: #4169e1;
  color: #fff;
  padding: 16px 24px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
}
.buttons-header__btn a:hover {
  color: #4169e1;
  background-color: #fff;
  border: 1px solid #4169e1;
}
@media (max-width: 767px) {
  .buttons-header__btn a {
    color: #fff;
    font-size: 22px;
    border: 1px solid #9bb3fb;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .buttons-header__btn a {
    font-size: calc(16px + 6 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1050px) {
  .buttons-header {
    display: none;
  }
}
@media (max-width: 767px) {
  .buttons-header {
    display: block;
    margin-top: 90px;
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------HOME---------------------------------------------*/
.blue-button a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.32px;
  background-color: #4169e1;
  color: #fff;
  padding: 16px 24px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
}
.blue-button a:hover {
  color: #4169e1;
  background-color: #fff;
  border: 1px solid #4169e1;
}

.white-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #4169e1;
  padding: 16px 24px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.white-button a:hover {
  background-color: #e8ebf5;
}

.plus-icon {
  position: absolute;
  top: 0px;
  right: 5px;
  -webkit-animation: rotate 3s ease 3s infinite;
          animation: rotate 3s ease 3s infinite;
  transform-origin: 50% 55%;
}

.breadcrumbs {
  position: absolute;
  top: 0;
  left: 100px;
  padding: 0;
  margin: 10px 0;
}
@media (max-width: 1200px) {
  .breadcrumbs {
    left: calc(10px + 90 * ((100vw - 320px) / 880));
  }
}
.breadcrumbs a {
  color: #4169e1;
}

.breadcrumbs li {
  display: inline-block;
  color: #7a7f85;
  margin-inline: 4px;
  font-size: 12px;
}
@media (max-width: 1200px) {
  .breadcrumbs li {
    font-size: calc(10px + 2 * ((100vw - 320px) / 880));
  }
}

.home {
  overflow-x: hidden;
  overflow-y: auto;
}
.home__body {
  min-height: 100vh;
  position: relative;
  z-index: 3;
}
@media (max-width: 450px) {
  .home__body {
    min-height: 90vh;
  }
}
.home__body::before, .home__body::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #9bb3fb;
  border-radius: 50%;
  z-index: 0;
}
.home__body::before {
  bottom: -80px;
  left: -100px;
  width: 300px;
  height: 300px;
  filter: blur(60px);
  opacity: 0.8;
}
@media (max-width: 600px) {
  .home__body::before {
    width: 100px;
    height: 100px;
  }
}
.home__body::after {
  top: 10%;
  right: -300px;
  width: 400px;
  height: 600px;
  filter: blur(60px);
  opacity: 0.5;
}
@media (max-width: 600px) {
  .home__body::after {
    right: -100px;
    width: 200px;
    height: 300px;
    opacity: 0.2;
  }
}

.home__body {
  padding: 40px 0;
  display: flex;
}
@media (max-width: 800px) {
  .home__body {
    flex-direction: column;
    padding: 100px 0 0px 0;
  }
}
.home__text {
  flex: 0 1 50%;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px;
}
@media (max-width: 1200px) {
  .home__text {
    padding-left: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .home__text {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 600px) {
  .home__text {
    flex-direction: column-reverse;
  }
}
.home__title {
  font-size: 50px;
  color: #243238;
  margin-bottom: 50px;
  line-height: 130%;
  letter-spacing: -1.22px;
  font-weight: 700;
  font-style: normal;
  background-color: transparent;
}
@media (max-width: 1200px) {
  .home__title {
    font-size: calc(22px + 28 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 475px) {
  .home__title {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
  }
}
.home__subtitle {
  font-size: 18px;
  color: #f52626;
  margin-bottom: 15px;
  background-color: transparent;
}
@media (max-width: 1200px) {
  .home__subtitle {
    font-size: calc(12px + 6 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 600px) {
  .home__subtitle {
    margin-bottom: 15px;
  }
}
@media (max-width: 475px) {
  .home__subtitle {
    text-align: center;
  }
}
.home__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.home__buttons .white-button a {
  border: 1px solid #4169e1;
  border-radius: 10px;
}
.home__buttons .white-button a:hover {
  background-color: #4169e1;
  color: #fff;
}
@media (max-width: 600px) {
  .home__buttons {
    justify-content: center;
    display: none;
  }
}
.home__image {
  flex: 0 1 50%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.home__image img {
  max-width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 800px) {
  .home__image {
    margin-top: 50px;
  }
  .home__image img {
    max-width: 100%;
  }
}

.image-info {
  position: absolute;
  bottom: 0;
  top: 100px;
  left: 0;
}
@media (max-width: 1200px) {
  .image-info {
    top: calc(50px + 50 * ((100vw - 320px) / 880));
  }
}
.image-info.element-animation {
  transition: all 0.3s linear 0.4s;
  opacity: 0;
  transform: translateY(20px);
}
.image-info.element-animation.element-show {
  opacity: 1;
  transform: translateY(0px);
}
.image-info__block {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}
@media (max-width: 1200px) {
  .image-info__block {
    padding: calc(8px + 16 * ((100vw - 320px) / 880));
  }
}
.image-info__block p {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.image-info__block span {
  display: inline-block;
  margin-right: 7px;
  color: #4169e1;
  font-size: 24px;
}
@media (max-width: 1200px) {
  .image-info__block span {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}
.image-info__block:first-child {
  margin-bottom: 20px;
}
@media (max-width: 800px) {
  .image-info {
    left: 40px;
    top: 60px;
  }
}
@media (max-width: 800px) and (max-width: 1200px) {
  .image-info {
    left: calc(0px + 40 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 800px) and (max-width: 1200px) {
  .image-info {
    top: calc(30px + 30 * ((100vw - 320px) / 880));
  }
}

#text {
  overflow: hidden;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*-----------------------------------------homeinfo------------------------------------------------*/
.homeinfo {
  padding: 40px 0;
  background-color: transparent;
  position: relative;
  z-index: 2;
}
.homeinfo__body {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding-left: 50px;
  background-color: transparent;
}
@media (max-width: 900px) {
  .homeinfo__body {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .homeinfo__body {
    padding-left: 0px;
  }
}
.homeinfo__block {
  flex: 0 1 30%;
  position: relative;
  z-index: 2;
  background-color: #9bb3fb;
  color: #fff;
  border-radius: 20px;
  padding: 33px 24px 34px 60px;
}
.homeinfo__block.element-animation {
  transition: all 0.3s linear 0.4s;
  transform: translateY(20px);
  opacity: 0;
}
.homeinfo__block.element-animation.element-show {
  opacity: 1;
  transform: translateY(0px);
}
@media (max-width: 900px) {
  .homeinfo__block {
    flex: 1 1 auto;
  }
}
@media (max-width: 600px) {
  .homeinfo__block {
    padding-left: 80px;
  }
}
.homeinfo__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  display: inline-flex;
  padding: 30px;
  border-left: 1px solid #9bb3fb;
}
@media (max-width: 600px) {
  .homeinfo__icon {
    padding: 20px;
    transform: translate(0%, -50%);
  }
  .homeinfo__icon img {
    width: 30px;
  }
}
.homeinfo__title h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 4px;
}
@media (max-width: 1200px) {
  .homeinfo__title h3 {
    font-size: calc(18px + 3 * ((100vw - 320px) / 880));
  }
}
.homeinfo__text p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
}
@media (max-width: 1200px) {
  .homeinfo__text p {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}

/*--------------------------------------------ABOUT---------------------------------------------*/
.about {
  padding: 100px 0;
  overflow: hidden;
}
@media (max-width: 650px) {
  .about {
    padding: 40px 0 80px;
  }
}
.about__body {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 920px) {
  .about__body {
    flex-direction: column;
  }
}
.about__info {
  flex: 0 1 50%;
  padding: 7px;
}
@media (max-width: 920px) {
  .about__info {
    margin-bottom: 60px;
  }
}
.about__title {
  margin-bottom: 4px;
}
.about__subtitle {
  margin-bottom: 16px;
}
.about__subtitle.element-animation {
  transition: all 0.3s linear 0.4s;
  opacity: 0;
  transform: translateX(150px);
}
.about__subtitle.element-animation.element-show {
  opacity: 1;
  transform: translateX(0px);
}
.about__subtitle h5 {
  font-weight: 500;
  font-style: normal;
  font-size: 47px;
  line-height: 125%;
  letter-spacing: -0.47px;
}
@media (max-width: 1200px) {
  .about__subtitle h5 {
    font-size: calc(26px + 21 * ((100vw - 320px) / 880));
  }
}
.about__div {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: #7a7f85;
  margin-bottom: 32px;
}
@media (max-width: 1200px) {
  .about__div {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}
.about__div.element-animation {
  transition: all 0.5s linear 0.4s;
  opacity: 0;
  transform: translateX(150px);
}
.about__div.element-animation.element-show {
  opacity: 1;
  transform: translateX(0px);
}
.about__cards {
  display: flex;
  padding-right: 10px;
}
.about__card {
  flex: 0 1 50%;
  padding: 24px;
  box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0) !important;
  border-radius: 30px;
}
@media (max-width: 600px) {
  .about__card {
    padding: 10px 15px;
  }
}
.about__card-title {
  font-weight: 500;
  font-style: normal;
  font-size: 27px;
  line-height: 120%;
  letter-spacing: -0.27px;
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  .about__card-title {
    font-size: calc(17px + 10 * ((100vw - 320px) / 880));
  }
}
.about__card-text {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: #7a7f85;
}
@media (max-width: 1200px) {
  .about__card-text {
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
  }
}
.about__image {
  flex: 0 1 50%;
}
.about__image img {
  max-width: 100%;
  border-radius: 30px;
}

.more-btn {
  position: absolute;
  top: 100%;
  left: 10px;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .more-btn {
    left: 50%;
    transform: translateX(-50%);
  }
}

.title h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: #4169e1;
}

/*--------------------------------------------SErvice---------------------------------------------*/
.services {
  padding: 100px 0;
  background-color: #f8f8ff;
}
@media (max-width: 650px) {
  .services {
    padding: 100px 0px 40px 0px;
  }
}
@media (max-width: 450px) {
  .services__body {
    padding: 0px 30px;
  }
}
.services__title {
  margin-bottom: 15px;
}
.services__subtitle {
  margin-bottom: 32px;
  color: #243238;
  font-weight: 500;
  font-style: normal;
  font-size: 47px;
  line-height: 125%;
  letter-spacing: -0.47px;
}
@media (max-width: 1200px) {
  .services__subtitle {
    font-size: calc(26px + 21 * ((100vw - 320px) / 880));
  }
}
.services__blocks {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .services__blocks {
    flex-direction: column;
    gap: 30px;
  }
}
.services__block {
  flex: 0 1 30%;
  position: relative;
}

.block-service {
  box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0);
  border-radius: 150px 30px 30px 30px;
}
.block-service__info {
  border-radius: 150px 30px 0px 0px;
  background: #e4ebff;
  position: relative;
  padding: 0px 26px 48px 0px;
}
@media (max-width: 600px) {
  .block-service__info {
    padding: 0px 10px 10px 0px;
  }
}
.block-service__icon {
  padding: 26px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: inline-flex;
  margin-bottom: 15px;
}
@media (max-width: 600px) {
  .block-service__icon {
    padding: 15px;
  }
  .block-service__icon img {
    width: 38px;
  }
}
.block-service__title {
  margin-bottom: 16px;
  padding-left: 26px;
}
.block-service__title h6 {
  font-size: 27px;
  line-height: 120%;
  letter-spacing: -0.27px;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .block-service__title h6 {
    font-size: calc(18px + 9 * ((100vw - 320px) / 880));
  }
}
.block-service__text {
  padding-left: 26px;
  color: #7a7f85;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
}
@media (max-width: 1200px) {
  .block-service__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}
.block-service__buttons {
  display: flex;
  background-color: #fff;
  padding: 15px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 30px 30px;
}
.block-service__buttons .blue-button {
  flex: 0 1 60%;
}
@media (max-width: 767px) {
  .block-service__buttons .blue-button a {
    padding: 7px 14px;
  }
}
.block-service__buttons .white-button {
  flex: 0 1 40%;
}
.block-service__buttons .white-button a {
  font-size: 14px;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .block-service__buttons .white-button a {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}

/*--------------------------------------------TEAM---------------------------------------------*/
.team {
  padding: 100px 0;
}
@media (max-width: 650px) {
  .team {
    padding: 20px 0;
  }
}
.team__title {
  margin-bottom: 4px;
}
.team__subtitle {
  margin-bottom: 30px;
}
.team__subtitle p {
  font-weight: 500;
  font-style: normal;
  font-size: 47px;
  line-height: 125%;
  letter-spacing: -0.47px;
  max-width: 600px;
}
@media (max-width: 1200px) {
  .team__subtitle p {
    font-size: calc(26px + 21 * ((100vw - 320px) / 880));
  }
}
.team__blocks {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}
@media (max-width: 650px) {
  .team__blocks {
    flex-wrap: wrap;
  }
}
.team__block {
  flex: 0 1 20%;
}
@media (max-width: 650px) {
  .team__block {
    flex: 0 1 45%;
  }
}
.team__button {
  text-align: center;
  margin-top: 30px;
}
.team__button a {
  display: inline-block;
}

.block-team__photo {
  margin-bottom: 25px;
}
.block-team__photo.element-animation {
  transition: all 0.3s linear 0.4s;
  transform: scale(0.5);
  opacity: 0;
}
.block-team__photo.element-animation.element-show {
  transform: scale(1);
  opacity: 1;
}
.block-team__photo img {
  max-width: 100%;
}
.block-team__name {
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 27px;
  line-height: 120%;
  letter-spacing: -0.27px;
  margin-bottom: 5px;
}
@media (max-width: 1200px) {
  .block-team__name {
    font-size: calc(17px + 10 * ((100vw - 320px) / 880));
  }
}
.block-team__profession {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.32px;
  color: #7a7f85;
}

/*--------------------------------------------HOME CONTACT---------------------------------------------*/
@-webkit-keyframes telVibr {
  0% {
    transform: rotate(25deg);
  }
  15% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-27deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
@keyframes telVibr {
  0% {
    transform: rotate(25deg);
  }
  15% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-27deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-12deg);
  }
}
.telephone {
  position: relative;
  overflow: hidden;
}
.telephone .svg-tel-icon.element-animation.element-show {
  -webkit-animation: telVibr 1s linear 0s;
          animation: telVibr 1s linear 0s;
}
.telephone::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #9bb3fb;
  border-radius: 50%;
  z-index: 0;
  top: 15%;
  right: -300px;
  width: 400px;
  height: 300px;
  filter: blur(60px);
  opacity: 0.5;
}
@media (max-width: 650px) {
  .telephone::after {
    right: -100px;
    width: 200px;
    height: 300px;
    opacity: 0.2;
  }
}
.telephone__body {
  background: url(../images/home/cont-banner.png) top left/contain no-repeat;
  height: 100%;
}
@media (max-width: 767px) {
  .telephone__body {
    background: url(../images/home/cont-banner.png) 80% 50%/cover no-repeat;
  }
}
@media (max-width: 650px) {
  .telephone__body {
    border-radius: 30px;
    margin-top: 50px;
  }
}
.telephone__info {
  padding: 100px 48px;
  max-width: 60%;
}
@media (max-width: 650px) {
  .telephone__info {
    padding: 70px 20px 50px;
  }
  .telephone__info svg {
    width: 16px;
    height: 16px;
  }
}
.telephone__title {
  font-weight: 500;
  font-style: normal;
  font-size: 47px;
  line-height: 125%;
  letter-spacing: -0.47px;
  color: #fff;
  margin-bottom: 7px;
}
@media (max-width: 1200px) {
  .telephone__title {
    font-size: calc(16px + 31 * ((100vw - 320px) / 880));
  }
}
.telephone__link {
  margin-bottom: 8px;
}
.telephone__link a {
  font-weight: 500;
  font-style: normal;
  font-size: 47px;
  line-height: 125%;
  letter-spacing: -0.47px;
  color: #4169e1;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .telephone__link a {
    font-size: calc(16px + 31 * ((100vw - 320px) / 880));
  }
}
.telephone__link a:hover {
  text-decoration: underline;
}
.telephone__text {
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 30px;
  color: #fff;
}
@media (max-width: 1200px) {
  .telephone__text {
    font-size: calc(15px + 6 * ((100vw - 320px) / 880));
  }
}
.telephone__button a {
  display: inline-block;
}

/*--------------------------------------------NEWS---------------------------------------------*/
.news {
  padding: 80px 0;
  position: relative;
}
.news::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #9bb3fb;
  border-radius: 50%;
  z-index: 0;
}
.news::after {
  bottom: 0;
  left: 0;
  width: 250px;
  height: 250px;
  filter: blur(40px);
  opacity: 0.5;
}
.news__title {
  margin-bottom: 7px;
}
.news__subtitle {
  font-weight: 500;
  font-style: normal;
  font-size: 47px;
  line-height: 125%;
  letter-spacing: -0.47px;
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .news__subtitle {
    font-size: calc(26px + 21 * ((100vw - 320px) / 880));
  }
}
.news__blocks {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .news__blocks {
    flex-wrap: wrap;
  }
}
.news__block {
  flex: 0 1 30%;
  max-width: 50%;
}
@media (max-width: 767px) {
  .news__block {
    flex: 0 1 47%;
  }
}
@media (max-width: 500px) {
  .news__block {
    margin-bottom: 70px;
  }
}
.news__button-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

.block-news {
  border-radius: 30px;
  position: relative;
  z-index: 1;
}
.block-news__image img {
  max-width: 100%;
  border-radius: 30px;
}
.block-news__date {
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  font-weight: 700;
}
@media (max-width: 767px) {
  .block-news__date {
    top: 7px;
    left: 7px;
    padding: 4px 8px;
    font-size: 12px;
  }
}
.block-news__info {
  position: absolute;
  bottom: -5px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0);
  width: 100%;
  padding: 24px;
}
@media (max-width: 1200px) {
  .block-news__info {
    padding: calc(10px + 14 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 500px) {
  .block-news__info {
    bottom: -50px;
  }
}
.block-news__title {
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .block-news__title {
    font-size: calc(13px + 8 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .block-news__title {
    margin-bottom: calc(5px + 25 * ((100vw - 320px) / 880));
  }
}
.block-news__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .block-news__more {
    flex-direction: column;
  }
}
.block-news__author {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 5px;
}
.block-news__author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-news__author span {
  font-size: 16px;
}
@media (max-width: 1200px) {
  .block-news__author span {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}
.block-news__button {
  flex: 0 1 30%;
}
@media (max-width: 650px) {
  .block-news__button a {
    padding: 7px 10px;
  }
}

/*--------------------------------------------FOOTER---------------------------------------------*/
footer {
  margin-top: 150px;
  background-color: #dbe4fc;
  overflow: hidden;
}
@media (max-width: 650px) {
  footer {
    margin-top: 70px;
  }
}
footer a:hover {
  text-decoration: underline;
}

.footer-main {
  padding: 30px 0;
}
.footer-main__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
@media (max-width: 600px) {
  .footer-main__body {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .footer-main__menu {
    width: 90%;
    margin: 0 auto;
  }
}
.footer-main__title {
  margin-bottom: 25px;
}
.footer-main__list {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.footer-main__list li:not(:last-child) {
  margin-bottom: 0px;
}
.footer-main__link {
  color: #243238;
}
@media (max-width: 600px) {
  .footer-main__address {
    width: 90%;
    margin: 0 auto;
  }
}
.footer-main__address p {
  margin-bottom: 15px;
}
.footer-main__address p img {
  margin-right: 10px;
}
.footer-main__address a {
  color: #243238;
}

.footer-bottom {
  padding: 15px 0;
  background-color: #4169e1;
}
.footer-bottom__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .footer-bottom__body {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 600px) {
  .footer-bottom__body {
    flex-direction: column;
  }
}
.footer-bottom__body > * {
  flex: 0 1 33.3%;
}
@media (max-width: 767px) {
  .footer-bottom__logo {
    display: none;
  }
}

/*--------------------------------------------SERVICES PAGE---------------------------------------------*/
.services-page {
  padding: 70px 0;
}
.services-page .services__blocks {
  flex-direction: column;
}
@media (max-width: 650px) {
  .services-page .services__blocks {
    padding: 0 20px;
  }
}
.services-page .services__block {
  flex: 1 1 auto;
  margin-bottom: 40px;
}
.services-page .block-service__info {
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}
@media (max-width: 600px) {
  .services-page .block-service__info {
    flex-direction: column;
    gap: 20px;
  }
}
.services-page .block-service__icon {
  flex: 0 1 30%;
  margin-bottom: 0;
  min-width: 100px;
}
@media (min-width: 768px) {
  .services-page .block-service__icon {
    min-width: auto;
  }
}
@media (max-width: 767px) {
  .services-page .block-service__icon {
    padding: 15px;
  }
}
@media (max-width: 767px) and (max-width: 1200px) {
  .services-page .block-service__icon {
    padding: calc(7px + 8 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 767px) {
  .services-page .block-service__icon img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 450px) {
  .services-page .block-service__title {
    text-align: center;
    padding-left: 0;
  }
}
@media (max-width: 450px) {
  .services-page .block-service__text {
    padding-left: 0;
  }
}
.services-page .block-service__buttons {
  gap: 20px;
}
.services-page .block-service .blue-button,
.services-page .block-service .white-button {
  max-width: 20%;
}
@media (max-width: 600px) {
  .services-page .block-service .blue-button,
.services-page .block-service .white-button {
    max-width: 100%;
  }
}

/*--------------------------------------------About in methods---------------------------------------------*/
.about-block {
  padding: 40px 0;
  position: relative;
}
.about-block::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #9bb3fb;
  border-radius: 50%;
  z-index: 0;
  top: -50px;
  left: -250px;
  width: 400px;
  height: 400px;
  filter: blur(60px);
  opacity: 0.5;
}
@media (max-width: 600px) {
  .about-block::after {
    right: -100px;
    width: 200px;
    height: 300px;
    opacity: 0.2;
  }
}
.about-block__body {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .about-block__body {
    flex-direction: column;
  }
}
.about-block__text {
  flex: 0 1 60%;
  padding: 20px;
  position: relative;
  z-index: 9;
}
.about-block__text p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: #7a7f85;
  margin-bottom: 15px;
}
.about-block .d-flex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.about-block__text-icon {
  padding: 26px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
@media (max-width: 1200px) {
  .about-block__text-icon {
    padding: calc(8px + 18 * ((100vw - 320px) / 880));
  }
}
.about-block__text-title {
  font-weight: 500;
  font-style: normal;
  font-size: 47px;
  line-height: 125%;
  letter-spacing: -0.47px;
}
@media (max-width: 1200px) {
  .about-block__text-title {
    font-size: calc(20px + 27 * ((100vw - 320px) / 880));
  }
}
.about-block__image {
  flex: 0 1 40%;
}
.about-block__image img {
  max-width: 100%;
  height: 70%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

/*------------------------------------------diagnostika-----------------------------------------------*/
.biorezonansnaya-diagnostika {
  padding: 40px 0;
}
.biorezonansnaya-diagnostika__body {
  display: flex;
  position: relative;
}
@media (max-width: 1000px) {
  .biorezonansnaya-diagnostika__body {
    flex-direction: column;
    gap: 50px;
  }
}
.biorezonansnaya-diagnostika__icon {
  width: 150px;
  height: 150px;
  margin: -75px auto 0px auto;
  padding: 15px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.biorezonansnaya-diagnostika__icon img {
  width: 100%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .biorezonansnaya-diagnostika__icon {
    margin: 0 auto;
  }
}
.biorezonansnaya-diagnostika__content {
  flex: 0 1 70%;
  padding: 25px 35px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0);
}
.biorezonansnaya-diagnostika__title {
  font-size: 20px;
  color: #4169e1;
  margin-bottom: 25px;
  text-align: center;
}
@media (max-width: 1200px) {
  .biorezonansnaya-diagnostika__title {
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  }
}
.biorezonansnaya-diagnostika__text p {
  margin-bottom: 15px;
}
.biorezonansnaya-diagnostika__sidebar {
  flex: 0 1 30%;
  padding-left: 30px;
}
@media (max-width: 1000px) {
  .biorezonansnaya-diagnostika__sidebar {
    padding-left: 0;
  }
}

.sidebar {
  text-align: center;
}
.sidebar__price {
  margin-bottom: 40px;
}
.sidebar__price-table {
  padding: 10px 18px;
  background: #9bb3fb;
  border-radius: 20px;
  color: #fff;
}
.sidebar__price-table li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
  font-weight: 300;
}
.sidebar__price-table span {
  display: inline-block;
}
.sidebar__price-table p {
  padding: 6px 16px;
  display: inline-block;
  border-radius: 20px;
  color: #4169e1;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  margin-bottom: 12px;
}

.image-in-text {
  margin: 25px 0;
  text-align: center;
}
.image-in-text img {
  border-radius: 20px;
  max-width: 100%;
}

.sidebar__today p {
  margin-bottom: 20px;
}
.sidebar__gallery img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar__nazart {
  margin-top: 50px;
  padding: 0 25px;
}
.sidebar__nazart img {
  max-width: 100%;
}

.lightgallery-int {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 10px;
}

/*------------------------------------------PRICE PAGE-----------------------------------------------*/
.price-page {
  position: relative;
}
.price-page::before, .price-page::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #9bb3fb;
  border-radius: 50%;
  z-index: 0;
}
.price-page::before {
  bottom: -80px;
  left: -100px;
  width: 300px;
  height: 300px;
  filter: blur(60px);
  opacity: 0.8;
}
@media (max-width: 600px) {
  .price-page::before {
    width: 100px;
    height: 100px;
  }
}
.price-page::after {
  top: 10%;
  right: -300px;
  width: 400px;
  height: 600px;
  filter: blur(60px);
  opacity: 0.5;
}
@media (max-width: 600px) {
  .price-page::after {
    right: -100px;
    width: 200px;
    height: 300px;
    opacity: 0.2;
  }
}
.price-page__body {
  display: flex;
}
@media (max-width: 1000px) {
  .price-page__body {
    flex-direction: column;
    gap: 40px;
  }
}
@media (max-width: 650px) {
  .price-page__body .sidebar__price {
    display: none;
  }
}

.price__subtitle {
  font-size: 27px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .price__subtitle {
    font-size: calc(18px + 9 * ((100vw - 320px) / 880));
  }
}
.price__content {
  border-radius: 30px;
  padding: 0 45px 45px 45px;
}
@media (max-width: 550px) {
  .price__content {
    padding: 0 20px 20px;
  }
}
@media (max-width: 450px) {
  .price__content {
    padding: 0 10px 10px;
  }
}
.price__content-table {
  position: relative;
  z-index: 9;
}

.table-price {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 48px 24px;
  color: #000;
  border-radius: 25px;
}
@media (max-width: 550px) {
  .table-price {
    padding: 24px 12px;
    border-radius: 10px;
  }
}
@media (max-width: 450px) {
  .table-price {
    padding: 12px 8px;
  }
}
.table-price__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.table-price__col {
  padding: 16px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}
.table-price__value li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px 7px 10px;
  gap: 5px;
  border-bottom: 1px solid #9bb3fb;
  color: #7a7f85;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .table-price__value li {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}
.table-price__value li:hover {
  background-color: #dde4fb;
  cursor: pointer;
}
.table-price__value span {
  display: inline-block;
  white-space: nowrap;
  color: #4169e1;
  font-weight: 700;
}

/*--------------------------------------------ABOUT PAGE---------------------------------------------*/
.about-page {
  position: relative;
  overflow-x: hidden;
}
.about-page::before, .about-page::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #9bb3fb;
  border-radius: 50%;
  z-index: 0;
}
.about-page::before {
  bottom: 15%;
  right: -100px;
  width: 300px;
  height: 300px;
  filter: blur(60px);
  opacity: 0.8;
}
@media (max-width: 600px) {
  .about-page::before {
    right: -50px;
    bottom: 22%;
    width: 100px;
    height: 100px;
  }
}
.about-page::after {
  top: 7%;
  left: -200px;
  width: 400px;
  height: 400px;
  filter: blur(60px);
  opacity: 0.5;
}
@media (max-width: 600px) {
  .about-page::after {
    top: 0;
    left: -100px;
    width: 200px;
    height: 300px;
    opacity: 0.2;
  }
}
.about-page__body p {
  margin-bottom: 10px !important;
}
.about-page__add {
  padding: 20px 0 40px 0;
}
.about-page__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  background: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
}
@media (max-width: 1200px) {
  .about-page__title {
    height: calc(100px + 300 * ((100vw - 320px) / 880));
  }
}
.about-page__title h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 120%;
  letter-spacing: -1.22px;
}
@media (max-width: 1200px) {
  .about-page__title h1 {
    font-size: calc(20px + 40 * ((100vw - 320px) / 880));
  }
}
.about-page__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 40px;
}
.about-page__card {
  padding: 24px;
}
@media (max-width: 1200px) {
  .about-page__card {
    padding: calc(12px + 12 * ((100vw - 320px) / 880));
  }
}
.about-page__div {
  margin-top: 25px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .about-page__div {
    width: 90%;
    margin-inline: auto;
  }
}

.card-about-page {
  box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0);
  background: #fff;
  border-radius: 30px;
}
.card-about-page__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.card-about-page__title p {
  flex: 0 1 60%;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .card-about-page__title p {
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  }
}
.card-about-page__title-icon {
  flex: 0 1 20%;
}
.card-about-page__title-icon img {
  max-width: 100%;
}
.card-about-page__text {
  font-size: 16px;
  color: #7a7f85;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
}
@media (max-width: 1200px) {
  .card-about-page__text {
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
  }
}

/*--------------------------------------------TEAM PAGE---------------------------------------------*/
.team-page {
  position: relative;
}
.team-page::before {
  bottom: 3%;
  right: -250px;
}
.team-page__body {
  padding: 40px 0;
}
.team-page__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 100px;
}
@media (max-width: 600px) {
  .team-page__cards {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
  }
}
.card-team-page {
  text-align: center;
}
.card-team-page__image {
  margin-bottom: 20px;
}
.card-team-page__image img {
  max-width: 100%;
}
.card-team-page__name {
  font-style: normal;
  font-size: 24px;
  white-space: nowrap;
  line-height: 120%;
  letter-spacing: -0.27px;
}
@media (max-width: 1200px) {
  .card-team-page__name {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
.card-team-page__special {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: #7a7f85;
}
@media (max-width: 1200px) {
  .card-team-page__special {
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
  }
}

.schedule {
  background: url("../images/team/bg.png") center/cover no-repeat;
  padding: 40px 0;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .schedule {
    background: url("../images/team/bg.png") 100% 50%/cover no-repeat;
  }
}
.schedule__block {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 48px 24px;
  max-width: 550px;
}
.schedule__title {
  color: #4169e1;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin-bottom: 10px;
}
.schedule__subtitle {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.36px;
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  .schedule__subtitle {
    font-size: calc(18px + 14 * ((100vw - 320px) / 880));
  }
}
.schedule__list table {
  border-collapse: collapse;
}
.schedule__list th,
.schedule__list td {
  text-align: center;
  padding: 13px;
  font-size: 16px;
}
@media (max-width: 1200px) {
  .schedule__list th,
.schedule__list td {
    padding: calc(6px + 7 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .schedule__list th,
.schedule__list td {
    font-size: calc(12px + 4 * ((100vw - 320px) / 880));
  }
}

/*--------------------------------------------SMI---------------------------------------------*/
.smi__body {
  padding-bottom: 70px;
}
.smi__blocks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 80px;
  padding-top: 40px;
}
.smi__blocks .news__block {
  max-width: 100%;
}
.smi__blocks .news__block p {
  font-size: 14px;
  color: #7a7f85;
  margin-bottom: 10px;
  display: block;
  display: -webkit-box;
  max-height: 70px; /* Замените на желаемую высоту */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4; /* Замените на желаемое количество строк */
  -webkit-box-orient: vertical;
}
@media (max-width: 1200px) {
  .smi__blocks .news__block p {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
.smi__blocks .block-news__info {
  bottom: -50px;
  padding: 24px;
}
@media (max-width: 1200px) {
  .smi__blocks .block-news__info {
    padding: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 499px) {
  .smi__blocks .block-news__more {
    flex-direction: row;
  }
}
.smi__blocks .block-news__author img {
  -o-object-fit: cover;
     object-fit: cover;
}
.smi__blocks .block-news__title {
  font-size: 18px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .smi__blocks .block-news__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
.smi__blocks .block-news__title a {
  color: #000;
}
.smi__blocks .block-news__title a:hover {
  color: #4169e1;
}
.smi__button-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

/*--------------------------------------------Contacts---------------------------------------------*/
.contacts-page__body {
  display: flex;
  gap: 25px;
  padding: 60px 0;
}
@media (max-width: 970px) {
  .contacts-page__body {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .contacts-page__body {
    padding: 30px 0;
  }
}
.contacts-page__info {
  flex: 0 1 50%;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  padding: 24px;
}
@media (max-width: 1200px) {
  .contacts-page__info {
    padding: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
.contacts-page__info span {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 7px;
}
.contacts-page__map {
  flex: 0 1 50%;
}
.contacts-page__map iframe {
  background-color: grey;
  border-radius: 20px;
  box-shadow: 2px 1px 5px 0px rgba(0, 22, 86, 0.06), 8px 4px 9px 0px rgba(0, 22, 86, 0.05), 17px 9px 12px 0px rgba(0, 22, 86, 0.03), 31px 15px 14px 0px rgba(0, 22, 86, 0.01), 49px 24px 15px 0px rgba(0, 22, 86, 0);
}
@media (max-width: 970px) {
  .contacts-page__map iframe {
    width: 100%;
    min-height: 400px;
  }
}
.contacts-page__map-links {
  margin-top: 15px;
}
.contacts-page__map-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4169e1;
  gap: 7px;
  padding: 18px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

/*--------------------------------------------NEWS CONTENT---------------------------------------------*/
.read-news__body {
  padding: 40px 0;
}
.read-news__title {
  font-size: 26px;
  color: #4169e1;
  margin-bottom: 20px;
  font-weight: 700;
  padding-left: 25px;
}
@media (max-width: 1200px) {
  .read-news__title {
    font-size: calc(20px + 6 * ((100vw - 320px) / 880));
  }
}
.read-news__content {
  display: flex;
}
@media (max-width: 1000px) {
  .read-news__content {
    flex-direction: column;
    gap: 40px;
  }
}
.read-news__news1 {
  flex: 0 1 70%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  padding: 35px;
  color: #000;
  border-radius: 25px;
}
@media (max-width: 1200px) {
  .read-news__news1 {
    padding: calc(15px + 20 * ((100vw - 320px) / 880));
  }
}
.read-news__news1 p,
.read-news__news1 li {
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  letter-spacing: normal;
  font-size: 14px;
  color: #333;
  text-indent: 15px;
}
.read-news__news1 ul {
  padding: 0 20px;
}
.read-news .sidebar {
  padding-top: 0;
}

.author-name {
  text-decoration: underline;
  text-align: right;
  margin-top: 20px;
}

.read-news-buttons {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
.read-news-buttons .rotate-left {
  transform: rotate(180deg);
  margin-left: 0px;
  margin-right: 7px;
}
.read-news-buttons span {
  margin-left: 7px;
}
.read-news-buttons > * {
  flex: 0 1 50%;
}
.read-news-buttons .white-button a {
  background-color: #e8ebf5;
  border: 1px solid transparent;
}
.read-news-buttons .white-button a:hover {
  border: 1px solid #4169e1;
}
@media (max-width: 620px) {
  .read-news-buttons {
    flex-direction: column;
  }
  .read-news-buttons > * {
    display: inline-flex;
  }
  .read-news-buttons .white-button {
    margin-bottom: 5px;
  }
  .read-news-buttons .white-button a {
    border: 1px solid #9bb3fb;
    padding: 5px 10px;
  }
  .read-news-buttons .blue-button {
    margin-left: auto;
  }
  .read-news-buttons .blue-button a {
    padding: 7px 14px;
  }
}

/*--------------------------------------------ARTICLES---------------------------------------------*/
.article__body {
  padding: 40px 0;
  display: flex;
}
@media (max-width: 1000px) {
  .article__body {
    flex-direction: column;
    gap: 50px;
  }
}
.article__content {
  flex: 0 1 70%;
}
.article__items {
  position: relative;
  padding-bottom: 50px;
}
.article__item {
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px 0px rgba(0, 22, 86, 0.08);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  padding: 48px 24px 24px;
  color: #000;
  border-radius: 25px;
  position: relative;
  text-align: center;
  margin-bottom: 35px;
  z-index: 9;
  display: none;
}
.article__item.active {
  display: block;
}

.item-article__icon {
  position: absolute;
  top: 16px;
  right: 16px;
}
.item-article__icon img {
  width: 40px;
  height: 40px;
}
.item-article__date {
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  font-weight: 700;
}
.item-article__title {
  margin: 20px 0 10px;
}
.item-article__title h2 {
  color: #4169e1;
  font-size: 26px;
}
@media (max-width: 1200px) {
  .item-article__title h2 {
    font-size: calc(18px + 8 * ((100vw - 320px) / 880));
  }
}
.item-article__text {
  margin-bottom: 20px;
}
.item-article__text p {
  line-height: 1.5;
  font-size: 15px;
  text-align: left;
}
@media (max-width: 1200px) {
  .item-article__text p {
    font-size: calc(13px + 2 * ((100vw - 320px) / 880));
  }
}
.item-article .white-button a {
  border: 1px solid #4169e1;
}

#pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
}
@media (max-width: 1200px) {
  #pagination {
    font-size: calc(18px + 8 * ((100vw - 320px) / 880));
  }
}

#pagination button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #4169e1;
  color: #7a7f85;
}
#pagination button:hover {
  background-color: #4169e1;
  color: #fff;
}
#pagination button:hover svg {
  fill: #fff;
}

#pagination .active {
  background-color: #4169e1;
  color: #fff;
}

/*--------------------------------------------GALLERY---------------------------------------------*/
.gallery-page__body {
  padding: 40px 0;
}
.gallery-page__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 100px;
}
.gallery-page__item {
  position: relative;
}

.item-gallery {
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.08);
}
.item-gallery__image {
  overflow: hidden;
  border-radius: 20px;
}
.item-gallery__image img {
  max-width: 100%;
}
.item-gallery__info {
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  font-weight: 700;
}
.item-gallery__name {
  margin-bottom: 15px;
  padding: 5px 10px;
  white-space: nowrap;
}
.item-gallery__name a {
  color: #000;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 130%;
}
@media (max-width: 1200px) {
  .item-gallery__name a {
    font-size: calc(16px + 4 * ((100vw - 320px) / 880));
  }
}
.item-gallery .blue-button a {
  padding: 5px 10px;
}

/*--------------------------------------------Gallery content---------------------------------------------*/
.lightgallery-photo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  gap: 7px;
}
.lightgallery-photo a {
  overflow: hidden;
}
.lightgallery-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
  transition: all 0.3s ease 0s;
}
.lightgallery-photo img:hover {
  transform: rotate(-1deg) scale(1.1);
}

.pagination-buttons {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 50px;
  white-space: nowrap;
  width: 100%;
}
.pagination-buttons button {
  color: #4169e1;
  background-color: transparent;
  font-size: 20px;
  width: 100%;
}
@media (max-width: 600px) {
  .pagination-buttons span {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    width: 70px;
    text-overflow: ellipsis;
  }
}
.pagination-buttons #prevPage,
.pagination-buttons #nextPage {
  fill: #4169e1;
}
.pagination-buttons svg {
  width: 25px;
  height: 25px;
}
.pagination-buttons #prevPage svg {
  transform: translateY(5px) rotate(180deg);
  margin-right: 5px;
}
@media (max-width: 600px) {
  .pagination-buttons #prevPage svg {
    transform: translateY(0px) rotate(180deg);
  }
}
.pagination-buttons #nextPage svg {
  transform: translateY(5px);
  margin-left: 5px;
}
@media (max-width: 600px) {
  .pagination-buttons #nextPage svg {
    transform: translateY(0px);
  }
}

.gallery-content__body {
  padding: 40px 0 80px;
}
.gallery-content__title {
  margin-bottom: 30px;
  text-align: center;
}
.gallery-content__title h2 {
  color: #4169e1;
}